.room-details-form-container {
  /* background-color: blue; */
  height: fit-content;
  width: 40%;
  position: relative;
  top: 17%;
  box-sizing: border-box;
  padding: 15px 30px 10px;
  position: fixed;
  left: 56%;
  overflow: hidden;
  height: 81vh;
  box-shadow: 0px 1px 11px -2px #888888;
  border-radius: 15px;
}
.bed-form-card {
  height: 75vh;
}
